/* Global properties ======================================================== */
html, body {
	width:100%;
	padding:0;
	margin:0;
}
body {
	font:14px/25px Arial, Helvetica, sans-serif;
	color:#939393;
	min-width:1264px;
	background:#000000;
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
.main {
	width:100%;
	background:#272727;
}
/***********************************************************************/
a {
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:none;
}
a.button {
	background:#2098f5;
	font-size:20px;
	line-height:24px;
	color:#fff;
	display:inline-block;
	padding:5px 23px 5px 23px;
}
a.button:hover {
	background:#131313;
}
a.link {
	text-decoration:none;
	cursor:pointer;
	color:#2098f5;
}
a.link:hover {
	text-decoration:underline;
}
.color-1 {
	color:#fff;
}
a.color-1:hover {
	text-decoration:underline;
}
.font-3 {
	font-size:17px;
	line-height:33px;
	color:#292929;
}
h2 {
	font-size:36px;
	line-height:45px;
	color:#fff;
	font-weight:normal;
	letter-spacing:-1px;
}
h3 {
	font-size:24px;
	line-height:30px;
	color:#fff;
	font-weight:normal;
}
ul {
	margin:0;
	padding:0;
	list-style-image:none;
}
ul.list-1 li {
	padding:0px 0 0px 11px;
	line-height:25px;
	background:url(../images/marker.gif) 0 10px no-repeat;
}
ul.list-1 li a {
	font-size:14px;
	color:#fff;
	line-height:25px;
}
ul.list-1 li a:hover {
	color:#2098f5;
}
/******************************************************************/
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	width:100%;
}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative
}
.wrap {
	overflow:hidden;
	position:relative
}
.extra-wrap {
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.img-indent {
	float:left;
	margin:3px 30px 17px 0;
}
.last {
	margin-right:0px !important;
}
.img-radius {
	border-radius:4px;
}
.top-1 {
	margin-top:37px;
}
.top-2 {
	margin-top:29px;
}
.top-3 {
	margin-top:21px;
}
.top-4 {
	margin-top:31px;
}
.top-5 {
	margin-top:12px;
}
.left-1 {
	padding-left:30px;
}
.bot-0 {
	padding-bottom:0 !important;
	margin-bottom:0 !important;
}
.bot-1 {
	margin-bottom:39px;
}
.bot-2 {
	margin-bottom:29px;
}
.pad-1 {
	margin:13px 0px 12px 0px;
}
.p1 {
	padding-bottom:25px;
}
.p2 {
	padding-bottom:15px;
}
.p3 {
	padding-bottom:12px;
}
.p4 {
	padding-bottom:20px;
}
.p5 {
	padding-bottom:23px;
}
.p6 {
	padding-bottom:8px;
}
/*********************************header*************************************/
header {
	width:100%;
	z-index:101;
}
header>div {
	width:1264px;
	margin:0 auto;
	position:relative;
}
h1 {
	position:absolute;
	left:132px;
	top:0px;
	display:inline-block;
	z-index:100;
}
.social-icons {
	overflow:hidden;
	text-align:right;
	padding:17px 162px 13px 0
}
.social-icons span {
	display:inline-block;
	font-size:24px;
	line-height:28px;
	color:#fff;
	margin:-1px 20px 0 0;
	letter-spacing:-1px;
}
.social-icons a {
	display:inline-block;
	width:23px;
	height:23px;
	float:right;
}
.icon-1 {
	background:url(../images/icon-1.png) 0 0 no-repeat;
}
.icon-2 {
	background:url(../images/icon-2.png) 0 0 no-repeat;
	margin-left:7px;
}
.icon-3 {
	background:url(../images/icon-3.png) 0 0 no-repeat;
	margin-left:7px;
}
.social-icons a:hover {
	background-color:#1e93f4;
}
nav {
	position:absolute;
	left:15px;
	bottom:0;
	z-index:100;
	background:url(../images/nav-bg.png) 0 0 repeat;
}
ul.menu {
	margin:0 29px 0 30px;
}
ul.menu li {
	float:left;
	line-height:35px;
	margin:0px 0 0px 0px;
	background:transparent;
}
ul.menu li a {
	font-size:28px;
	line-height:35px;
	color:#fff;
	display:block;
	padding: 17px 33px 18px 33px;
}
ul.menu li:hover, ul.menu li.current {
	background:#2098f5;
}
/*********************************content*************************************/
#content {
	width:960px;
	margin:0 auto;
	padding-bottom:78px;
}
.line-1 {
	background:url(../images/line.png) 0 bottom repeat-x;
	padding-bottom:29px;
	margin-bottom:24px;
}
.img-border {
	border:#fff 4px solid;
}
.block-1>div {
	float:left;
	width:180px;
	margin-right:40px;
}
.block-1>div h3 {
	margin:14px 0 4px 0;
}
.block-1>div a.button {
	margin:18px 0 0px 0;
}
.form-1 {
}
.form-1 label {
	font:14px/25px Arial, Helvetica, sans-serif;
	color:#345623;
	padding-bottom:5px;
}
.form-1 input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	background:#ffffff;
	padding:8px 10px 9px 15px;
	outline: medium none;
	width: 245px;
	height:17px;
	float:left;
	margin-bottom:12px;
}
.form-1 .select-1 {
	width:270px;
	margin-bottom:12px;
}
.form-1 .select-2 {
	width:128px;
	margin-right:14px;
	float:left;
}
.form-1>a.button {
	margin-top:30px;
	padding-left:36px;
	padding-right:37px;
}
.lists {
	overflow:hidden;
}
.lists ul {
	float:left;
	margin-right:15px;
	width:120px;
}
.lists-2 {
	margin:23px 0 23px 0;
	overflow:hidden;
}
.lists-2 ul {
	float:left;
	margin-right:40px;
	width:180px;
}
.block-2>a {
	float:left;
	margin-right:20px;
	display:inline-block;
}
/****************************footer************************/
footer {
	width:100%;
	position:relative;
	overflow:hidden;
	text-align:center;
	padding:32px 0 45px 0;
	background:#000000;
}
footer p, footer a {
	color:#000000;
}
footer a:hover {
	text-decoration:underline;
}
/**********************form**********************/
dl {
	margin:0px 0px 0 0px;
}
dl dt {
}
dl dd span {
	display:block;
	width:99px;
	float:left;
}
dl dd {
}
dl dd a {
}
#form {
	margin: 0px 0 0px 0px;
	width:620px;
}
#form input {
	background:#DFDFDF;
	font: 14px Arial, Helvetica, sans-serif;
	color:#535353;
	padding:7px 10px 10px 15px;
	outline: medium none;
	width: 355px;
	height:17px;
	float:left;
}
#form textarea {
	background:#DFDFDF;
	font: 14px Arial, Helvetica, sans-serif;
	color:#535353;
	height: 246px;
	outline: medium none;
	overflow: auto;
	padding: 7px 0px 0px 10px;
	width: 610px;
	resize:none;
	margin:0px 0 0 0;
	float:left;
}
#form label {
	position:relative;
	overflow:hidden;
	display: block;
	padding-bottom:12px;
}
#form label strong {
	font-weight:normal;
	display:block;
	padding-bottom:5px;
}
.btns {
	text-align:left;
	width:620px;
	padding-top:18px;
}
.btns a {
	display:inline-block;
	margin:0 20px 0 0px;
}
/***FIRST STYLE THE BUTTON***/
input#gobutton{
width:100px;

cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
margin:15px 20px 20px;
padding:10px 5px 29px; /*add some padding to the inside of the button*/
background:#2098f5; /*the colour of the button*/
border:1px solid #000000; /*required or the default border for the browser will appear*/
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color:#f3f3f3;
font-size:1.1em;

}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input#gobutton:hover, input#gobutton:focus{
background-color :#000000; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}


input#bigbutton {
width:100px;
background: #2098f5; /*the colour of the button*/
padding: 10px 15px 25px; /*apply some padding inside the button*/
border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*style the text*/
font-size:1em;
font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
letter-spacing:.1em;
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
color: #ffffff;
/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
//-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
//-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
//box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
/*give the corners a small curve*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
input#bigbutton:hover, input#bigbutton:focus {
color:#dfe7ea;
/*reduce the size of the shadow to give a pushed effect*/
//-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
//box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}



.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
	pointer-events: none;
}




.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}




.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
