{% extends "MyAppProjetBundle::layout.html.twig" %}

{% block Container %}

    <h1>Offre creation</h1>
    
    {{ form(form) }}
    
   

        <ul class="record_actions">
    <li>
        <a href="{{ path('offre') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
